---
import HomeIcon from '../icons/Home.astro'
import SearchIcon from '../icons/Search.astro'
import LibraryIcon from '../icons/Library.astro'

import SideMenuItem from '../components/SideMenuItem.astro'
import SideMenuCard from '../components/SideMenuCard.astro'

import { playlists, favourites } from '../lib/data'
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Home
      </SideMenuItem>

      <SideMenuItem href="/#">
        <SearchIcon />
        Search
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="/#">
        <LibraryIcon />
        Your library
      </SideMenuItem>

      {
        playlists.map(playlist => <SideMenuCard playlist={playlist} />)
      }
      {
        favourites.map(favourite => <SideMenuCard playlist={favourite} />)
      }
    </ul>
  </div>
</nav>
