---
import '@fontsource-variable/onest'

import { ViewTransitions } from 'astro:transitions'

import AsideMenu from '../components/AsideMenu.astro'
import { Player } from '../components/Player.jsx'

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<ViewTransitions fallback="none" />
	</head>
	<body>
		<div id="app" class="relative h-screen p-2 gap-2">
			<aside class="[grid-area:aside] flex-col flex overflow-y-auto">
				<AsideMenu />
			</aside>

			<main class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto">
				<slot />
			</main>

			<footer class="[grid-area:player] h-[80px]">
				<Player client:load transition:name="media-player" transition:persist />
			</footer>
		</div>
	</body>
</html>
<style>
	#app {
		display: grid;
		grid-template-areas: 
			"aside main"
			"player player";
		grid-template-columns: 350px 1fr;
		grid-template-rows: 1fr auto;
	}
</style>
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		background: #010101;
		color: #EEE;
	}
</style>
